body {
	
}

header {
	text-align: center;
}

p {
	word-wrap: break-word;
}

table, th, td{
	
	width:514px;
	margin-left: auto;
	margin-right: auto;
}

td {
	border: 1px dotted black;
}

article {
	margin: 10px 14px;
	
	padding: 2em;
	
}

.inki {
	padding-left: 22%;
}

footer.footer {
	position: absolute;
	bottom: -405px;
}

#botright {
	position: absolute;
	bottom: -407px;
	right: 0px;
}